<h1>Synthesizer Website</h1>
Welcome
<p>New User? Sign up
<a href="/users/sign_up">here</a></p>
<% if @profile %>
	<a href="/profiles/<%= @profile %>/items">View Your Synthesizers</a>
	<a href="/profiles/<%= @profile %>/items/new">Add a Synthesizer</a>
<% end %>