<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Patch</title>
</head>
<body>
	<%= @item.name %>
	<%= @item.description %>
	<%= @item.isForSale %>
	<%= @item.price %>
	
</body>
</html>