<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Video</title>
</head>
<body>
SHOWING Video
	<%= @item.name %>
	<%= @item.description %>
	<%= @item.download_url%>
	<% if  @item.videofile %>
		<video src="<%= @item.videofile_url %>" alt="" style="width: 200px;">
	<% end %>
</body>
</html>