// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid.bg-aqua {
	background-color: #4b97aa;

}
.nav-bottom {
	background-color: #7B395C;
	height: 60px
}
.navname {
	margin-top: 20px;
	display: inline;
	color: orange
}

.navloc {
	display: inline;
	color: orange
}

.item-view {
	background-color: #ddf9fd;
	padding-left: 30px
}

.logo-row {
	background-color: #4b97aa;
	padding-left: 25px;
	padding-top: 30px;
	padding-bottom: 7px
}

.logo {
	width: 700px
}

.nav-col {
	background-color: #4b97aa;
	padding: 15px;
	// position: absolute;
	// float: right;
	// top: 15px
}

.btn-primary {
	margin: auto
}

.btn-warning {
	background-color: #BFA581;
	margin: auto
}

.prof-pic {
	margin: auto;
	margin-top: 30px;
	border: solid;
	border-color: purple;
	border-width: 10px
}

.myitems-header {
	margin: auto;
	margin-top: 30px;
	padding: auto;
	background-color: #BADFE4;
	border: dotted;
	border-width: 3px;
	border-color: orange
}

.myitem-link {
	color: #BADFE4;
	font-size: medium
}

.nearitem-link {
	color: #183a25;
	font-size: medium
}